@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slide-from-right {
	0% {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

.animation-fade-in {
	animation: fade-in 0.2s ease-out forwards;
}

.animation-slide-from-right {
	animation: slide-from-right 0.2s ease-out forwards;
}

.small-caps {
	font-variant-caps: small-caps;
}

.stars-rating label {
	cursor: pointer;
}

.stars-rating input:checked ~ label svg,
.stars-rating input:focus ~ label svg,
.stars-rating input:hover ~ label svg {
	fill: currentColor;
	--tw-text-opacity: 1;
	color: rgb(251 146 60 / var(--tw-text-opacity));
	stroke: currentColor;
}
